h2{
  font-size: 1.2em;
  &:hover{
    cursor: pointer;
  }
}

.all-posts{
  background: none repeat scroll 0 0 white;
  border-radius: 10px;
  color: gray;
  font-size: 1.2em;
  line-height: 1.3em;

  th{
    padding: 0.5em;
    width: 3em;
		background: rgba(0,0,0,0.03);
  }
  td{
    padding: 0.7em 1em 0.7em 1.15em;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.25) inset, 0 1px rgba(0, 0, 0, 0.25) inset;
    text-align: left;
    &:last-child{
      min-width: 200px;
      text-align: center;
    }
  }
  tr{
    -webkit-transition: background 0.3s, box-shadow 0.3s;
		-moz-transition: background 0.3s, box-shadow 0.3s;
		transition: background 0.3s, box-shadow 0.3s;
    &:hover {
		  background: rgba(0,0,0,0.03);
	  }
  }
  margin: 1em auto;
  width: 100%;
  .post_updated_at{
    font-size: 0.7em;
  }
}
.button{
  padding: 0.5em;
  border-radius: 10px;
  &:hover{
    opacity: 0.8;
  }
  text-decoration: none;
}

